<html>
	<head>
		<meta charset="utf-8">
		<title>My notes</title>
		<script>
			$(function(){
				$("select#link").change(function(){
					$("#note").load("/notes?id=" + $(this).val() + "&ajax");
				})
			})
		</script>
		<style>
			#note {
				border: 1px solid;
				height: 250px;
				width: 500px;
				resize: none;
			}
			#link {
				border: 1px solid;
		
				width: 500px;
				resize: none;
			}
		</style>
	</head>
	<body>
		<form method="post" action="/notes">
			<textarea id="note" name="note" readonly maxlength=255></textarea><br>
			<select id="link" name="link"><%link%></select><br>
			<input type="hidden" name="token" value="<%token%>">
		</form>
	</body>
</html>
